In [6]:
a = "Hola"
a

'Hola'

In [9]:
import pandas as pd

IMC = ["29", "26", "35"]
df = pd.DataFrame(IMC, columns=["IMC"])
df

  IMC
0  29
1  26
2  35

In [19]:
df = pd.read_csv("galicia.csv", index_col=0)
df

                       Open   Close    High     Low  Volume
Timestamp
2024-07-19 10:30:00  3742.0  3742.0  3742.0  3742.0     1.0
2024-07-19 10:31:00  3755.0  3755.0  3755.0  3755.0     1.0
2024-07-19 10:32:00  3710.0  3710.0  3710.0  3710.0    10.0
2024-07-19 10:33:00  3714.0  3714.0  3714.0  3714.0     1.0
2024-07-19 10:38:00  3745.0  3745.0  3745.0  3745.0     3.0
...                     ...     ...     ...     ...     ...
2024-08-02 16:55:00  3665.0  3668.0  3668.0  3665.0    13.0
2024-08-02 16:56:00  3674.0  3680.0  3680.0  3673.0    31.0
2024-08-02 16:57:00  3687.0  3700.0  3700.0  3687.0    90.0
2024-08-02 16:58:00  3700.0  3694.0  3700.0  3693.0    24.0
2024-08-02 16:59:00  3699.0  3700.0  3700.0  3699.0    60.0

[2855 rows x 5 columns]

In [15]:
import pandas as pd

df = pd.DataFrame({ "SUJETO":["1", "2", "3"], 
                "CIRCUNFERENCIA DE CINTURA": ["102", "89", "142"],
                "IMC": ["29", "26", "35"]})
df["IMC"].max()

'35'